<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>


  <meta charset="UTF-8"/>
</head>
<body>
<span>KANBAN TABLE</span>
<span>TASKS TODO</span>
<div th:each="task : ${tasksTODO}">
  <h5 th:text="${task.getProcessStatus()}">Status zadania</h5>
  <h5 th:text="${task.getTaskName()}">Nazwa zadania</h5>
  <h5 th:text="${task.getDescription()}">Opis zadania</h5>

</div>

<span>TASKS DOING</span>
<div th:each="task : ${tasksDOING}">
  <h5 th:text="${task.getProcessStatus()}">Status zadania</h5>
  <h5 th:text="${task.getTaskName()}">Nazwa zadania</h5>
  <h5 th:text="${task.getDescription()}">Opis zadania</h5>

</div>


<span>TASKS DONE</span>
<div th:each="task : ${tasksDONE}">
  <h5 th:text="${task.getProcessStatus()}">Status zadania</h5>
  <h5 th:text="${task.getTaskName()}">Nazwa zadania</h5>
  <h5 th:text="${task.getDescription()}">Opis zadania</h5>

</div>

<span>TASKS ARCHIVE</span>
<div th:each="task : ${tasksARCHIVE}">
  <h5 th:text="${task.getProcessStatus()}">Status zadania</h5>
  <h5 th:text="${task.getTaskName()}">Nazwa zadania</h5>
  <h5 th:text="${task.getDescription()}">Opis zadania</h5>

</div>
</body>
</html>