<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>


  <meta charset="UTF-8"/>
</head>
<body>
<span>KANBAN TABLE</span>
<table border="1">
    <tr>
        <th>To Do</th>
        <th>Doing</th>
        <th>Done</th>
    </tr>
    <tr>
        <td>
            <div th:each="task : ${tasksTODO}">
              <div th:text="${task.getProcessStatus()}">Status zadania</div>
              <div th:text="${task.getTaskName()}">Nazwa zadania</div>
              <div th:text="${task.getDescription()}">Opis zadania</div>
              <p></p>
            </div>
        </td>

        <td>
            <div th:each="task : ${tasksDOING}">
              <div th:text="${task.getProcessStatus()}">Status zadania</div>
              <div th:text="${task.getTaskName()}">Nazwa zadania</div>
              <div th:text="${task.getDescription()}">Opis zadania</div>
              <p></p>
            </div>
        </td>
            <td>
              <div th:each="task : ${tasksDONE}">
              <div th:text="${task.getProcessStatus()}">Status zadania</div>
              <div th:text="${task.getTaskName()}">Nazwa zadania</div>
              <div th:text="${task.getDescription()}">Opis zadania</div>
              <p></p>
            </div>
        </td>
    </tr>
</table>

</body>
</html>